<div style="position: relative"><div style="background: url({{novel.image}});background-size: cover;height: 300px;filter: blur(8px);position: absolute;width: 100%"></div><script type="text/javascript">g("full").style.background="#545454";</script></div>

    <div class="container" style="padding-top: 40px"><div class="row"><div class="col" style="width: 100%;min-width: 240px;padding: 0"><center><img class="card-img-top" style="width:200px;height:260px;box-shadow: 0 0 24px grey;" src="{{novel.image}}" onerror="this.src='/default.png'"></center></div></div></div>

    <div class="card text-center">
        <div class="card-header"><h3 id="title" class="card-title text-success">Tiêu đề web</h3></div>
        <div class="card-body">
            <b>
                <p id="info_novel"></p></b><p>{{ novel.content }}</p></div></div>
    

    <div class="card">
        <div class="card-header"><i class="fas fa-info-circle"></i> Thông tin</div>
        <div class="card-body">
            <div class="btn-body">Tên truyện: <a href="{{ novel.slug }}" id="info_title"></a>
            </div>
            <div class="btn-body">Tác giả:{% for authur in novel.authur %}《{{authur.name}}》{% endfor %}</div>
            <div class="btn-body">Thể loại:</div>
            <div class="btn-body">Thời gian: <a id="time" href="/"></a></div>
        </div>
    </div>

<script>
    var title = "{{ novel.title }}";
    var myhostname = location.hostname;
    var authur = "{{ novel.authur[0].name }}"
    document.getElementById("title").innerHTML = title.toUpperCase();
    document.getElementById("info_novel").innerHTML = "《" + myhostname + "- " + "Văn học mạng Việt Nam" + "- " + "Truyện thể loại: " + "\(" + "..." + "\)" + "- " + "Được viết bởi: " + authur + "》";
    document.getElementById("info_title").innerHTML = title.toLowerCase();

</script>
