{% extends 'base.html' %}
{% block title %}Danh Sách Truyện{% endblock %}
{% block content %}
<h1>Post</h1>
{% for post in posts %}
<div class="card">
	<div class="card-header">
		<a href="{{ post.slug }}">
			<h4 class="card-title">{{ post.title }}</h4></a>
	</div>
	<div class="media position-relative">
	<img src="..." class="mr-3" alt="...">
	<div class="media-body">
		<p>{{ post.body }}</p>
	</div>
	</div>
	<div class="card-footer">
		<a href="#" class="badge badge-danger">{{ post.authur }}</a>
		<a href="#" class="badge badge-primary">Thể Loại </a>
		<a href="#" class="badge badge-info">Chương</a>
  </div>
</div>
{% endfor %}
{% endblock %}
