<!doctype html>
<html lang="vi">
	<head>
		<meta charset="URF-8">
		<meta name="keywords" content="YuriNovel, NovelYuri, Yuri, Novel, truyện bách hợp, truyện yuri, truyện chữ, tiểu thuyết, lesbian, yuri, novel, Tadashi Ringo">
		<meta name="description" content="YuriNovel là trang web cung cấp tiểu thuyết miễn phí, thể loại chủ yếu về bách hợp, yêu đương đồng giới, nữ và nữ kết hợp với nhau.">
		<meta name="author" content="Tadashi Ringo">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
body	{background-color: powderblue;}
h1	{color: red;}
p	{color: blue;}
		</style>
		{% if title %}
		<title>{{title}} - YuriNovel</title>
		{% else %}
		<title>Welcome to YuriNovel</title>
		{% endif %}
	</head>


	<body>
		<!--Sơ lược giới thiệu về trang web-->
		<h1>YuriNovel</h1>
		<p>YuriNovel là trang web cung cấp tiểu thuyết miễn phí, thể loại chủ yếu về bách hợp, yêu đương đồng giới, nữ và nữ kết hợp với nhau.</p>

		<hr>



		<!--Thanh Menu-->

		<div class="bg-dark" style="box-shadow: 0 16px 16px -16px black;overflow: hidden;overflow-x:auto;height: 40px;position: relative;">
			<div id="naviga" class="container" style="color: #eeeeee !important;font-weight: 600;white-space: nowrap;">
				<a href="/" style="{{StyleMenu}}"><i class="fas fa-home"></i> Trang chủ</a>
				<a href="/find" style="{{StyleMenu}}">Tìm Truyện</a>
				<a hidden="" href="/forum" style="{{StyleMenu}}">Diễn Đàn</a>
				<a href="/lienhe" style="{{StyleMenu}}">Liên hệ</a>
				<a href="/donate" style="{{StyleMenu}}">Donate</a>
			</div>
		</div>
		
		<hr>

		<!--Content-->
        {% block content %}{% endblock %}


		<hr>
		<!--Bố cục dưới cùng-->
		<div class="container-fluid bg-dark">
			<div class="container">
				<div id="credit" class="row" style="font-size:12px;">
				<center style="clear:both;width: 100%;color: white;padding: 24px;">
					<p>YuriNovel trang văn học mạng, cung cấp cộng đồng tiểu thuyết về thể loại bách hợpTrang được tạo dựng bởi Tadashi Ringo</p>
					<p>Trang được tạo ra bởi Tadashi Ringo</p>
					<p>Thời điểm thành lập năm 2020</p>
				</div>
			</div>
		</div>
	</body>




</html>
