{% extends "base.html" %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}
<div class="alert alert-primary" role="alert">
  Trang chủ đang bảo trì, nếu bạn muốn thử nghiệm trang web, vui lòng chọn 'Tiểu Thuyết' hoặc 'Sáng Tác' tại trên thanh Menu
</div>

<div class="container">
	<div class="card text-white bg-dark mb-3" style="color:black;font-size:14px;padding:15px; background: #f4ffe3;">
		<div style="font-size:20px;margin-bottom:20px;">Mới cập nhật<a href="/" style="display: inline-block;color: gray;font-size:12px;float:right;margin-top: 10px;">xem thêm...</a></div>
        {% for novel in novels %}
        {% include 'include/card.html' %}
        {% endfor %}
	</div>
</div>
{% endblock %}
