<!doctype html>
<html>

	<head>

		<meta charset="{{Charset}}">
		<meta name="keywords" content="{{Keywords}}">
		<meta name="description" content="{{Description}}">
		<meta name="author" content="{{Author}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
body {background-color: powderblue;}
		</style>
		<title>{{Title}}</title>

	</head>


	<body>

		<div class="bg-dark" style="box-shadow: 0 16px 16px -16px black;overflow: hidden;overflow-x:auto;height: 40px;position: relative;">
		<div id="naviga" class="container" style="color: #eeeeee !important;font-weight: 600;white-space: nowrap;">
				<a href="/" style="margin: 6px;padding: 2px;display: inline-block;color: #eeeeee"><i class="fas fa-home"></i> Trang chủ</a>
				<a href="/" style="margin: 6px;padding: 2px;display: inline-block;color: #eeeeee"><i class="fas fa-comment"></i> Thế giới</a>
				<a href="/" style="margin: 6px;padding: 2px;display: inline-block;color: #eeeeee">Tìm Truyện</a>
				<a hidden="" href="/" style="margin: 6px;padding: 2px;display: inline-block;color: #eeeeee">Diễn Đàn</a>
				<a href="/" style="margin: 6px;padding: 2px;display: inline-block;color: #eeeeee">Dịch trang web</a>
				<a href="/" style="margin: 6px;padding: 2px;display: inline-block;color: #eeeeee">Dịch</a>
	</body>




</html>
