{% macro list_novel_views(title=None) %}
<div class="row">
	<div class="col-3">
      <img style="width:50px; height:60px;" src="https://www.69shu.org/files/article/image/80/80786/80786s.jpg" alt="">
	</div>
    <div class="col-6">
		<a href="/">{{ title }}</a>
    </div>
  </div>
  <br>
  <div class="row">
	  <div class="col-3">
      <img style="width:50px; height:60px;" src="https://www.69shu.org/files/article/image/80/80786/80786s.jpg" alt="">
    </div>
    <div class="col-5">
		<a href="/"> Tasashi Ringo</a>
    </div>
  </div>
{% endmacro %}
